::-webkit-scrollbar {
    display: none
}

body {
    background-color: #1f2326;
    animation:bg 0.5s infinite linear ;
}

body svg {
    position: absolute;
    top: calc(100% / 4);
    left: calc(100% / 4);
    width: calc(100% / 2);
    height: calc(100% / 2);
    animation:chaos 0.5s infinite linear ;
}

body svg:hover {
    animation:chaosh 0.5s infinite linear ;
}


body svg:hover path {
    fill: #FFF000;
}


@keyframes chaos { 
    100% {transform: rotate(360deg); }
}

@keyframes chaosh { 
    100% {transform: rotate(-360deg); }
}

@keyframes bg {
    25% {background: #2D4059;}
    50% {background: #EA5455;}
    75% {background: #F07B3F;}
    100% {background: #FFD460;}    
}